@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix nécessaire pour la carte Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: 0;
}

/* Limiter la hauteur du dropdown à 5 éléments */
.select-scrollable {
  max-height: 10rem;
  overflow-y: auto;
}